
@{
     ViewBag.Title = "Index";
     Layout = "~/Areas/Admin/Views/Shared/layout_admin.cshtml";
}
<div class="right__content">
     <div class="right__title">Bảng điều khiển</div>
     <p class="right__desc">Bảng điều khiển</p>
     <div class="right__cards">
          <a class="right__card" href="/Admin/Product/ListProduct">
               <div class="right__cardTitle">Sản Phẩm</div>
               <div class="right__cardNumber">@ViewBag.countProduct</div>
               <div class="right__cardDesc">Xem Chi Tiết <img src="~/Areas/Admin/Content/assets/arrow-right.svg" alt=""></div>
          </a>
          <a class="right__card" href="/Admin/Customer/Index">
               <div class="right__cardTitle">Khách Hàng</div>
               <div class="right__cardNumber">@ViewBag.countCustomer</div>
               <div class="right__cardDesc">Xem Chi Tiết <img src="~/Areas/Admin/Content/assets/arrow-right.svg" alt=""></div>
          </a>
          <a class="right__card" href="/Admin/Order/Index">
               <div class="right__cardTitle">Đơn Hàng</div>
               <div class="right__cardNumber">@ViewBag.countOrder</div>
               <div class="right__cardDesc">Xem Chi Tiết <img src="~/Areas/Admin/Content/assets/arrow-right.svg" alt=""></div>
          </a>
     </div>
</div>