
@{
     ViewBag.Title = "Index";
     Layout = "~/Areas/Admin/Views/Shared/layout_admin.cshtml";
}
<div class="page-wrapper">
     <div class="container-fluid">
          <div class="row justify-content-center">
               <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="white-box analytics-info">
                         <h3 class="box-title">Tổng số đơn hàng</h3>
                         <ul class="list-inline two-part d-flex align-items-center mb-0">
                              <li>
                                   <div id="sparklinedash">
                                        <canvas width="67" height="30"
                                                style="display: inline-block; width: 67px; height: 30px; vertical-align: top;"></canvas>
                                   </div>
                              </li>
                              <li class="ml-auto"><span class="counter text-success">659</span></li>
                         </ul>
                    </div>
               </div>
               <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="white-box analytics-info">
                         <h3 class="box-title">Tổng số chờ duyệt</h3>
                         <ul class="list-inline two-part d-flex align-items-center mb-0">
                              <li>
                                   <div id="sparklinedash2">
                                        <canvas width="67" height="30"
                                                style="display: inline-block; width: 67px; height: 30px; vertical-align: top;"></canvas>
                                   </div>
                              </li>
                              <li class="ml-auto"><span class="counter text-purple">869</span></li>
                         </ul>
                    </div>
               </div>
               <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="white-box analytics-info">
                         <h3 class="box-title">Doanh thu</h3>
                         <ul class="list-inline two-part d-flex align-items-center mb-0">
                              <li>
                                   <div id="sparklinedash3">
                                        <canvas width="67" height="30"
                                                style="display: inline-block; width: 67px; height: 30px; vertical-align: top;"></canvas>
                                   </div>
                              </li>
                              <li class="ml-auto">
                                   <span class="counter text-info">911</span>
                              </li>
                         </ul>
                    </div>
               </div>
          </div>
          
          <div class="row">
               <div class="col-md-12 col-lg-12 col-sm-12">
                    <div class="white-box">
                         <div class="d-md-flex mb-3">
                              <h3 class="box-title mb-0">Recent sales</h3>
                              <div class="col-md-3 col-sm-4 col-xs-6 ml-auto">
                                   <select class="form-control row border-top">
                                        <option>March 2017</option>
                                        <option>April 2017</option>
                                        <option>May 2017</option>
                                        <option>June 2017</option>
                                        <option>July 2017</option>
                                   </select>
                              </div>
                         </div>
                         <div class="table-responsive">
                              <table class="table no-wrap">
                                   <thead>
                                        <tr>
                                             <th class="border-top-0">#</th>
                                             <th class="border-top-0">NAME</th>
                                             <th class="border-top-0">STATUS</th>
                                             <th class="border-top-0">DATE</th>
                                             <th class="border-top-0">PRICE</th>
                                        </tr>
                                   </thead>
                                   <tbody>
                                        <tr>
                                             <td>1</td>
                                             <td class="txt-oflo">Elite admin</td>
                                             <td>SALE</td>
                                             <td class="txt-oflo">April 18, 2017</td>
                                             <td><span class="text-success">$24</span></td>
                                        </tr>
                                   </tbody>
                              </table>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</div>
