<!DOCTYPE html>
<html lang="en">

<head>
     <!-- Required meta tags -->
     <meta charset="utf-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
     <link rel="icon" href="img/favicon.png" type="image/png" />
     <title>Cửa hàng quần áo Sonexay</title>
     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="~/Content/css/bootstrap.css" />
     <link rel="stylesheet" href="~/Content/vendors/linericon/style.css" />
     <link rel="stylesheet" href="~/Content/css/font-awesome.min.css" />
     <link rel="stylesheet" href="~/Content/css/themify-icons.css" />
     <link rel="stylesheet" href="~/Content/css/flaticon.css" />
     <link rel="stylesheet" href="~/Content/vendors/owl-carousel/owl.carousel.min.css" />
     <link rel="stylesheet" href="~/Content/vendors/lightbox/simpleLightbox.css" />
     <link rel="stylesheet" href="~/Content/vendors/nice-select/css/nice-select.css" />
     <link rel="stylesheet" href="~/Content/vendors/animate-css/animate.css" />
     <link rel="stylesheet" href="~/Content/vendors/jquery-ui/jquery-ui.css" />
     <!-- main css -->
     <link rel="stylesheet" href="~/Content/css/toastr.css" />
     <link rel="stylesheet" href="~/Content/css/style.css" />
     <link rel="stylesheet" href="~/Content/css/responsive.css" />
     <link rel="stylesheet" href="~/Content/css/login.css" />
</head>

<body>
     <!--================Header Menu Area =================-->
     <header class="header_area">
          <div class="top_menu">
               <div class="container">
                    <div class="row">
                         <div class="col-lg-7">
                              <div class="float-left">
                                   <p>Phone: 0973369199</p>
                                   <p>email: levanphieu99@gmail.com</p>
                              </div>
                         </div>
                         <div class="col-lg-5">
                              <div class="float-right">
                                   <ul class="right_side">
                                   </ul>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
          <div class="main_menu">
               <div class="container">
                    <nav class="navbar navbar-expand-lg navbar-light w-100">
                         <!-- Brand and toggle get grouped for better mobile display -->
                         <a class="navbar-brand logo_h" href="/Home/Index">
                              <img src="~/Content/img/logo.png" alt="" />
                         </a>
                         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                                 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                         </button>
                         <!-- Collect the nav links, forms, and other content for toggling -->
                         <div class="collapse navbar-collapse offset w-100" id="navbarSupportedContent">
                              <div class="row w-100 mr-0">
                                   <div class="col-lg-7 pr-0">
                                        <ul class="nav navbar-nav center_nav pull-right">
                                             <li class="nav-item active">
                                                  <a class="nav-link" href="/Home/Index">Trang chủ</a>
                                             </li>
                                             <li class="nav-item submenu dropdown">
                                                  <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                                                     aria-haspopup="true" aria-expanded="false">Sản phẩm</a>
                                                  <ul class="dropdown-menu">
                                                       <li class="nav-item">
                                                            <a class="nav-link" href="/Category/Index">Thời trang nam</a>
                                                       </li>
                                                       <li class="nav-item">
                                                            <a class="nav-link" href="/Category/categoryWoman">Thời trang nữ</a>
                                                       </li>

                                                  </ul>
                                             </li>

                                             <li class="nav-item submenu dropdown">
                                                  <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                                                     aria-haspopup="true" aria-expanded="false">Tiện ích</a>
                                                  <ul class="dropdown-menu">
                                                       <li class="nav-item">
                                                            <a class="nav-link" href="/Tracking/Index">Theo dõi đơn hàng</a>
                                                       </li>
                                                  </ul>
                                             </li>
                                        </ul>
                                   </div>

                                   <div class="col-lg-5 pr-0">
                                        <ul class="nav navbar-nav navbar-right right_nav pull-right">
                                             <li class="nav-item">
                                                  <a href="/Cart/Index" class="icons">
                                                       <i class="ti-shopping-cart">&nbsp;<span class="badge badge-danger">0</span></i>

                                                  </a>
                                             </li>
                                             @{
                                                  if (ProjectMVC.Utils.Xsession.Member != null)
                                                  {
                                                       <li class="nav-item submenu dropdown">
                                                            <a href="/" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                                                               aria-haspopup="true" aria-expanded="false">&emsp;&emsp;@ProjectMVC.Utils.Xsession.Member.Name_Member</a>
                                                            <ul class="dropdown-menu">
                                                                 <li class="nav-item">
                                                                      <a class="nav-link" href="/Account/LogOut">Đăng xuất</a>
                                                                 </li>
                                                            </ul>
                                                       </li>
                                                       <li class="nav-item">
                                                            <a class="nav-link" href="/">&emsp; &emsp; </a>
                                                       </li>
                                                  }
                                                  else
                                                  {
                                                       <li class="nav-item">
                                                            <a class="nav-link" href="/Account/Login">&emsp; &emsp; Đăng nhập</a>
                                                       </li>
                                                  }
                                             }

                                        </ul>
                                   </div>
                              </div>
                         </div>
                    </nav>
               </div>
          </div>
     </header>
     @RenderBody()
     <footer class="footer-area section_gap">
          <div class="container">
               <p class="footer-text m-0 col-lg-8 col-md-12">
                    Code by Lê Văn Phiêu_ANHTTT53 and Sonexay Segaphone_CNTTL53
               </p>
               <div class="col-lg-4 col-md-12 footer-social">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-behance"></i></a>
               </div>
          </div>
     </footer>
     <!--================ End footer Area  =================-->
     <!-- Optional JavaScript -->
     <!-- jQuery first, then Popper.js, then Bootstrap JS -->
     <script src="~/Content/js/jquery-3.2.1.min.js"></script>
     <script src="~/Content/js/popper.js"></script>
     <script src="~/Content/js/bootstrap.min.js"></script>
     <script src="~/Content/js/stellar.js"></script>
     <script src="~/Content/vendors/lightbox/simpleLightbox.min.js"></script>
     <script src="~/Content/vendors/nice-select/js/jquery.nice-select.js"></script>
     <script src="~/Content/vendors/isotope/imagesloaded.pkgd.min.js"></script>
     <script src="~/Content/vendors/isotope/isotope-min.js"></script>
     <script src="~/Content/vendors/owl-carousel/owl.carousel.min.js"></script>
     <script src="~/Content/js/jquery.ajaxchimp.min.js"></script>
     <script src="~/Content/vendors/counter-up/jquery.waypoints.min.js"></script>
     <script src="~/Content/vendors/counter-up/jquery.counterup.js"></script>
     <script src="~/Content/js/mail-script.js"></script>
     <script src="~/Content/js/theme.js"></script>
     <script src="~/Content/js/toastr.js"></script>
     <script>
          var cart = JSON.parse(localStorage.getItem("cart"));

          $(".badge-danger").html(cart.length);
     </script>
     @RenderSection("myscript", false)
</body>

</html>
