
@{
     Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Dashboard</title>
     <link rel="stylesheet" href="~/Areas/Admin/Content/css/main.css">
</head>
<body>
     <div class="wrapper">
          <div class="container">
               <div class="dashboard">
                    <div class="left">
                         <span class="left__icon">
                              <span></span>
                              <span></span>
                              <span></span>
                         </span>
                         <div class="left__content">
                              <div class="left__logo">LOGO</div>
                              <div class="left__profile">
                                   <div class="left__image"><img src="~/Areas/Admin/Content/assets/profile.jpg" alt=""></div>
                                   <p class="left__name">Lê Văn Phiêu</p>
                                 @*  <p class="left__name">@ProjectMVC.Utils.Xsession.Admin.Name_Admin</p>*@
                              </div>
                              <ul class="left__menu">
                                   <li class="left__menuItem">
                                        <a href="/Admin/Home/Index" class="left__title"><img src="~/Areas/Admin/Content/assets/icon-dashboard.svg" alt="">Trang chủ</a>
                                   </li>
                                   <li class="left__menuItem">
                                        <div class="left__title"><img src=" ~/Areas/Admin/Content/assets/icon-tag.svg" alt="">Quần áo<img class="left__iconDown" src="~/Areas/Admin/Content/assets/arrow-down.svg" alt=""></div>
                                        <div class="left__text">
                                             <a class="left__link" href="/Admin/Product/Index">Thêm</a>
                                             <a class="left__link" href="/Admin/Product/ListProduct">Xem tất cả</a>
                                        </div>
                                   </li>
                       
                                   <li class="left__menuItem">
                                        <a href="/Admin/Customer/Index" class="left__title"><img src="~/Areas/Admin/Content/assets/icon-users.svg" alt="">Khách Hàng</a>
                                   </li>
                                   <li class="left__menuItem">
                                        <a href="/Admin/Order/Index" class="left__title"><img src="~/Areas/Admin/Content/assets/icon-book.svg" alt="">Đơn Đặt Hàng</a>
                                   </li>
                                   <li class="left__menuItem">
                                        <a href="#" class="left__title"><img src="~/Areas/Admin/Content/assets/icon-logout.svg" alt="">Đăng Xuất</a>
                                   </li>
                              </ul>
                         </div>
                    </div>
                    <div class="right">
                         @RenderBody()
                    </div>
               </div>
          </div>
     </div>

     <script src="~/Areas/Admin/Content/js/main.js"></script>
</body>
</html>